/**
    --Background
        Color: #d3d3d3
    
    --Header
        BottomLogo: #50b3df 
    
    --Nav Bar 
        Color: #8dc046
        Text: #1e75bb
        
        --Links:
            Link:
            Visited:
            Hover:
            Active:

    --Footer 
        Color: #8dc046
        Text: #1e75bb

    


**/

/** ------* Header/Nav * ------- **/


header {
    margin: auto;
}
header #stripe1 {
    
    width: auto;
    height: 73px;
    background-color: #d3d3d3 ;
    margin: 0px 0px 0px 0px;
}
header #stripe2 {    
    width: auto;
    height: 6px;
    background-color: #d3d3d3 ;
    margin: 0px 0px 0px 0px;
}

header #stripe3 {
    background-image: url("images/comb.jpg");
    height: 90px;
    width: auto;
    text-align: center;
    
}

header #logo { 
    display: block;
    margin-top: -163px;
    height: 210px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -70px;
}

header #textunderlogo {
    color: #2BABE2;
    text-align: center;
    font-size: 1.5em;
    margin-top: -10px;
}

header nav {
    width: auto;
    border: 2px solid #8dc046;
    height: 60px;
    background-color: #8dc046;
/*    margin: auto;*/
    list-style: none;
    text-align: center;
}

header nav li {
    display: inline-block;
/*    text-align: center;*/
    font-size: 1.4em;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 55px;
    font-weight: bold;
}

header nav li a{
    text-decoration: none;
}

header nav li a:link {
    color: #1e75bb;
}

header nav li a:hover {
    color: grey;
}

header nav li a:visited {
    color: #ffffff;
}

nav li a:active {
    color: #2BABE2;
}



/** -------- * Body / Section* --------**/

body {
    width: 100%;
    min-width: 870px;
    height: 750px;
    background-color: #d3d3d3;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
}
section {
    margin: auto;
    text-align: center;
    margin-bottom: 60px;
    
}

h2{
    color: #1e75bb;
    font-size: 1.8em;
    margin-bottom: -35px;
}
figure {
    margin-top: 50px;
    background-color: #2BABE2;
    border-radius: 5px;
    width: 360px;
    height: 360px;
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: 10px;
}
figure img {
    width: 360px;
    height: 480px;;    
/*    padding: 7px 7px 7px 7px;*/
}
/*
figcaption {
    color: #8dc046;
    text-align: center;
    margin-top: -7px;
    padding-bottom: 100px;
    font-size: 1.5em;
    font-weight: bold;
    
    
}
*/

#descriptionprocess1 {
    margin-top: 40px;
    margin-bottom: 0px;
    margin-left: 250px;
    margin-right: 250px;
    font-size: 1.1em;
    text-align: center;
    color: #1e75bb;
    font-weight: bold;
    font-family: sans-serif;
}

#descriptionprocess2 {
    margin-top: 40px;
    margin-bottom: 150px;
    margin-left: 250px;
    margin-right: 250px;
    font-size: 1.1em;
    text-align: center;
    color: #1e75bb;
    font-weight: bold;
    font-family: sans-serif;
}

/** -----* Footer * ----- **/

footer {
    width: 100%;
    height: 80px;
    background-color: #8dc046;
    color: #1e75bb;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
/*    float: right;*/
    margin-bottom: 0px;
    border-top: 8px solid #8dc046;
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

footer nav li {
    display: inline-block;
/*    text-align: center;*/
    font-size: 1.4em;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 55px;
    font-weight: bold;
}

footer nav {
    width: auto;
    border: 2px solid #8dc046;
    height: 60px;
    background-color: #8dc046;
/*    margin: auto;*/
    list-style: none;
    text-align: center;
}

footer nav li a{
    text-decoration: none;
}

footer nav li a:link {
    color: #1e75bb;
}

footer nav li a:hover {
    color: grey;
}

footer nav li a:visited {
    color: #ffffff;
}

#copyright{
    font-size: 1.2em;
}
